*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #F6F8FA;
}

header{
  background-color: white;
}

h1{
  display: inline-block;
}

header img, header h1{
  vertical-align: middle;
}

main{
  background-color: #F6F8FA;
}

.container{
  margin: 30px auto;
  width: 70%;
}
.TCard{
  background-color: white;
  padding: 15px;
  border-radius: 8px;
}

button{
  border-radius: 4px;
  padding: 5px;
  border: 0;
  text-transform: capitalize;
  color: rgb(168, 166, 166);
}

.b-blue{
  background-color:#70ACF2;
}

.txt-white{
  color: white;
}
.TCard-bottom{
  padding: 15px;
}

ul{
  list-style: none;
}

.TCard-innerlist li{
  font-family: Arial, sans-serif;
}
.TCard-bottom ul li h3::before{
  content: "\25BE";
}

.TCard-bottom ul li{
  line-height: 30px;
  
}

.TCard-innerlist li::before{
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  margin-right: 10px;
}